{% extends 'home/base.html' %}
{% block content %}

<div class="container">
    <div class="row row-cols-2 m-5">
        <div class="col-6 d-flex justify-content-center align-items-center" style="border-right: 1px solid black;">
            <h1>Know more about Compuzone!</h1>
        </div>
        <div class="col-6 ps-5">
            <h2>Vision</h2>
            <p class="ps-5">We try to offer the best computer Parts in the Market!</p>
            <hr>
            <h2>Mission</h2>
            <p class="ps-5">Create the best offers & deals for customer needs!</p>

        </div>
</div>
</div>

{% endblock %}

