{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<style>
    .errorlist li{
        color: red;
    }
</style>

    <form method="post"  enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div style=" font-weight: bold; font-size: 20px"
     class="d-flex flex-column align-items-center justify-content-around">
        {{form}}
    <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}
