{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="card-container">

    {% for cat in categories %}
    <div class="card">
        <h2>{{ cat.name }}</h2>
        <h5>Category: {{ product.category }}</h5>
        <p>{{cat.description}}</p>

        <a href="{% url 'home:cat_det' category=cat.name %}" class="btn">Products Category</a>
        {% comment %}
        <a href="{% url 'edit_gun' id=gun.id %}" class="btn bg-warning">Edit</a>
        <a href="{% url 'delete' id=gun.id %}" class="btn bg-danger">Delete</a> {% endcomment %}
    </div>
    {% endfor %}
</div>
{% endblock %}