{% extends 'home/base.html' %}
{% block content %}

<div class="container">
     <h1>Search Results for<strong>"{{ query }}"</strong> </h1>
    {% if products %}
    <div class="row g-3">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-2 border-0 vh-50">
                <a href="/products/{{ product.id }}">
                    <img src="{{ product.image }}"
                         class="card-img-top img-fluid rounded"
                         alt="product thumbnail"
                         style="height: 35vh; object-fit: cover;"
                    />
                </a>
                <div class="card-body p-0 position-relative rounded mt-1">
                    <h5 class="d-inline-block card-title mt-3 w-75">{{ product.name }}</h5>
                    <p class='text-secondary p-0 float-end'>Price : ${{ product.price }}</p>
                    <p class='text-secondary p-0'>{{ product.stock }} in stock</p>
                    <p class='text-secondary p-0'>{{ product.description }}</p>
                </div>
                <a href="{% url 'home:delete' id=product.id %}"><button class="btn btn-danger">Delete</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No results found.</p>
    {% endif %}
</div>

{% endblock %}
