{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div style=" font-weight: bold; font-size: 20px"
     class="d-flex flex-column align-items-center justify-content-around">
    <p> Are You Sure You Want To Delete your profile ? </p>
    <button type="submit" class="btn btn-danger">Submit</button>
            <a href="/" class="btn btn-dark">Cancel</a>
                </div>
</form>

{% endblock %}